PORT=5000
DB_URL=mongodb://your-mongodb-url
NODE_ENV=development
INNGEST_EVENT_KEY=your-inngest-event-key
INNGEST_SIGNING_KEY=your-inngest-signing-key
STREAM_API_KEY=your-stream-api-key
STREAM_API_SECRET=your-stream-api-secret
CLIENT_URL=http://localhost:5173
